@import url(../css/reset.css);
@import url(../js/index.js);


/* 設計系統 */
:root {
    --base-line-height: 1.6;
    --font-main: "Noto Sans TC", sans-serif;

    --h1-font-size: 96px;
    --h1-color: #ffffff;
    --h1-text-stroke: 1px black;
    --h1-line-height: 160%;
    

    --h2-font-size: 40px;
    --h2-line-height: 100%;
  
    --h3-font-size: 36px;
    --h3-line-height: 120%;
    --h3-font-weight: 600;

    --h4-font-size: 32px;
    --h4-line-height: 120%;
  
    --h5-font-size: 24px;
    --h5-line-height: 120%;

    --p-font-size: 16px;
    --p-line-height: 150%;
}

body{
    line-height: var(--base-line-height);
    font-family: var(--font-main);
}

h1 {
    font-size: var(--h1-font-size);
    color: var(--h1-color);
    -webkit-text-stroke: var(--h1-text-stroke);
    line-height: var(--h1-line-height);
}

h2 {
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
} 

h3{
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);
    font-weight: var(--h3-font-weight)
}

h4{
    font-size: var(--h4-font-size);
    line-height: var(--h4-line-height);
}

h5{
    font-size: var(--h5-font-size);
    line-height: var(--h5-line-height);
}

p{
    font-size: var(--p-font-size);
    line-height: var(--p-line-height);
}

/* 設計系統結束 */

* {
    box-sizing: border-box;
}

body{}

.wrapper{
    width: 1200px;
    background-color: #fff;
    margin: 0 auto;
    overflow: hidden;

    box-shadow: 1px 1px 20px  rgba(42, 42, 42, 0.2);
}

/* header開始 */
header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2A2A2A;

}

header a{
    height: 3rem;
    margin-left: 20px;
}

nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;


}

nav ul{
    display: flex;
    
}

nav li{}

nav a{
    text-decoration: none;
    color: #2A2A2A;

    position: relative;
}

nav a::before{
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    border-left: 1px solid #7f7f7f;

    position: absolute;
    top: 0;
    right: -10px;
    bottom: 0;

    margin: auto;
}

 nav li:last-child a::before{
    display: none;
 } 

nav li:last-child{
    position: relative;
}

.ham{
    
    
    display: none;
}

.ham.active{}

.ham.active ul{
    display: block;

    background-color: #fff;
    width: 30%;
}

.transition{
    transition: 1s;
}

.bar{
    width: 24px;
    height: 4px;
    background-color: #000;
    border-radius: 10px;

    /* display: none; */
}

.ham.active .bar1{
    transform: rotate(-45deg) translate(-9px, 3px);
}

.ham.active .bar2{
    opacity: 0;
}

.ham.active .bar3{
    transform: rotate(45deg) translate(-9px, -4px);
}

/* 子選單 */
.submenu{
    position: absolute;
    display:block;
    background-color: #fff;
    border: 1px solid #2A2A2A;
    font-size: 14px;
    right: 0;

    z-index: 1;
}

ul li .submenu{
    display: none;
}


.submenu li{
    text-align: center;
    line-height: 2rem;
    width: 60px;
    margin: 5px;
}

.submenu a{
 margin: auto 0;
 text-shadow: none;
}

/* hover */
ul li:hover ul{
    display: block;
}

/* header結束 */

/* banner開始 */
.banner{
    background-image: url(../img/1.homepage/01.banner_bg.png);
    border-bottom: 1px solid #2A2A2A;
    height: 600px;
    position: relative;
    background-size: 100% 100%;
}

.banner h2{
    position: absolute;

    top: 140px;
    left: 140px;
    opacity:0;

    animation-name:welcome;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes welcome{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.banner h1{
    position: absolute;

    top: 170px;
    left: 220px;

    opacity:0;

    animation-name:Dwalk;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s ;
}

@keyframes Dwalk{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.banner h2+h1+img{
    position: absolute;

    top: 140px;
    left: 640px;
}

.orange{
    position: absolute;
    border-right: 1px solid #000;

    bottom: 220px;
    right: 220px;

    visibility: hidden;

    overflow: hidden;
    white-space: nowrap;

    animation-name:orange-say;
    animation-duration: 3s;
    animation-fill-mode: none;
    animation-delay: 2s ;
    animation-timing-function:steps(19);
    width: 0ch;
}

@keyframes orange-say{
    0%{
        width:0;
        visibility: visible;
    }
    90%{
        width: 19ch;
        visibility: visible;
    }
    100%{
        width: 19ch;
        visibility: visible;
    }
}


.yellow{
    position: absolute;
    border-right: 1px solid #000;

    bottom: 90px;
    right: 500px;

    visibility: hidden;

    overflow: hidden;
    white-space: nowrap;

    animation-name:yellow-say;
    animation-duration: 3s;
    animation-fill-mode: none;
    animation-delay: 5s ;
    animation-timing-function:steps(25);
    width: 0ch;
}

@keyframes yellow-say{
    0%{
        width:0;
        visibility: visible;
    }
    90%{
        width: 25ch;
        visibility: visible;
    }
    100%{
        width: 25ch;
        visibility: visible;
    }
}

.banner p+p+img{
    position: absolute;

    top: 320px;
    left: 520px;

    opacity:0;

    animation-name:god-say-image;
    animation-duration: 1s;
    animation-fill-mode: none;
    animation-delay: 8.2s ;
}

@keyframes god-say-image{
    0%{
        opacity:1;
    }
    100%{
        opacity:1;
    }
}

.banner p+img+img{
    position: absolute;

    top: 320px;
    left: 250px;

    opacity:0;

    animation-name:god-image;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 9.2s ;
}

@keyframes god-image{
    0%{
        opacity:1;
    }
    100%{
        opacity:1;
    }
}

.god1{
    position: absolute;
    border-right: 1px solid #000;

    bottom: 190px;
    left: 480px;

    visibility: hidden;

    overflow: hidden;
    white-space: nowrap;

    animation-name:god-say;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 10s;
    animation-timing-function:steps(40);
    width: 0ch;
}


@keyframes god-say{
    0%{
        width: 0ch;
        visibility: visible;
    }
    90%{
        width: 40ch;
        visibility: visible;
    }
    100%{
        width: 40ch;
        visibility: visible;
    }
}
/* banner結束 */

/* 最新消息開始 */

.news-section{
    margin: 100px 0;
}

.news-section h1{
    text-align: center;
    line-height: 108px;
    color: transparent;
    font-weight: 600;
    margin: 28px 0;

    background-image: url(../img/1.homepage/textbg.png);
    background-size: cover;
    background-position: center;

    background-clip: text;
}

.news{
    display: flex;
    justify-content:space-between;
    width: 950px;
    margin: 0 125px;
    flex-shrink: 0;

    overflow: hidden;
}

.news .news-item{
    display: flex;
    width: 500px;
    box-sizing: border-box;
    justify-content: center;
}

.news article{
    border: 1px solid #2A2A2A;
    padding-top: 40px;
    width: 300px;

    top: 0px;
    left: 100%;

    display: none;
}

.news h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 0 12px;
}

.news p{
    margin: 28px 12px 40px;
}

.news a{
    width: 30%;
    margin: 28px 12px;
    padding: 10px 20px;
    text-decoration: none;
    color: #2A2A2A;
    background-color: #ffffff;
    border: 1px solid #2A2A2A;
    border-radius: 50px;
}

.news-item img{
    justify-content: space-around;
}

.news img:nth-of-type(1):hover{
    filter: brightness(100%)
}

.news .news-first:hover .lyco{
    display: block;
}

.news img:nth-of-type(2):hover{
    
    filter: brightness(100%)
}

.news .news-third:hover{
    transform:translate(-20%,0);
}

.news .news-second:hover .trans{
    display: block;
}

.news img:nth-of-type(3):hover{
    filter: brightness(100%)
}

.news .news-third:hover .sui{
    display: block;
}

.news div:nth-of-type(2) img{
    /* margin: 0 auto; */
    width: 113px;
    height: 145px;
    margin-top: 220px;
}



/* 最新消息結束 */

/* 今日聖地推薦 */

.osusume-section{
    margin: 100px 0;
}

.osusume-section h1{
    text-align: center;
    line-height: 108px;
    color: transparent;
    font-weight: 600;
    margin: 28px 0;

    background-image: url(../img/1.homepage/rabbit.png);
    background-size: cover;
    background-position: 50% right;

    background-clip: text;
}

/*
.osusume article{
    position: relative;
    height: 500px;
    width: 950px;
    margin: 0 auto;

    // border: 1px solid black; 
}

*/

.osusume article{
    display: grid;
    grid-template-rows: 1fr 300px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
}

.osusume .part1{
    /* width: 300px;
    margin-left: 8px; */
    grid-column: 1 / 1 ;
    grid-row: 1 / 1;
    padding: 0 20px 0 ;
}

.osusume img{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 63% top;
    border-radius: 20px;

    /* top: 0;
    right: 360px; */
    grid-column: 2 / 3 ;
    grid-row: 1 / 4;
}

.video-wrapper{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  margin-left: 20px;
}

.video iframe {
    width: 70%;
    height: 70%;
    border-radius: 12px;
}

/* 
.osusume .video{

    width: 100%;
    height: 100%;
    margin-left: 20px;

    grid-column: 3 / 4 ;
    grid-row: 1 / 2;

} */

.osusume .part2{
    /* position: absolute; */
    width: 100%;

    /* top: 270px;
    right: 10px; */

    box-sizing: border-box;
    grid-column: 3 / 4 ;
    grid-row: 2 / 3;
    padding: 40px 20px 0 20px;
}

.osusume a{
    /* display: inline-block; */
    /* margin: 250px 0 0 90px; */
    width: 100px;
    height: 20px;
    padding: 10px 20px;
    margin-left: 20px;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    border-radius: 50px;
    border: 1px solid black;
    text-align: center;

    grid-column: 1 / 2 ;
    grid-row: 2 / 3;
}

/* osusume結束 */

/* 跑馬燈 */

.marquee{
    height: 80px;
    margin: 28px 0;
    position: relative;

    border: #000;
}

.marquee h2{
    position: absolute;
    line-height: 80px;
    
    overflow: hidden;
    white-space: nowrap;

    animation-name:see;
    animation-duration: 10s;
    animation-fill-mode: none;
    animation-timing-function:linear;
    animation-iteration-count: infinite;

    right: -910px;

}

@keyframes see{
    0%{
        right: -910px;;
    }
    100%{
        right: 1220px;
    }
}

/* 跑馬燈結束 */

/* 留言牆 */


.card-sec{
    height: 372px;
}

.card-art{
    display: flex;
    margin-bottom: 28px;
    height: 300px;

    overflow: auto;
}

.card{
    width: 344px;
    height: 216px;
    flex-shrink: 0;
    /* border: 1px solid #000; */
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25) ;

    margin: 0 16px;
    padding: 12px;
}

.card .card-header{
    border-bottom: 1px solid #c9c9c9;
    height: 37px;
}

.card .name{}

.card .doko{}

.card .location{}

.card .card-meta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;

    margin-bottom: 8px;
}

.hori{
    margin-left: 16px;
}

.card-sec+svg{
    margin-left: 16px;
}

/* 留言牆結束 */

/* footer */

footer{
    border-top: 1px solid #2A2A2A;
}

footer .footer-font{
    margin: 20px 0;
    text-align: center;
}

.footer-font p{}

.footer-font a{
    margin: 0 8px;
    text-decoration: none;
    color: #000000;

    position: relative;
}

.footer-font a::before{
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    border-left: 1px solid #000000;

    position: absolute;
    top: 3px;
    bottom: 0;
    right: -10px;
    margin:auto;
}

.footer-font a:last-child::before{
    display: none;
}

.pet{
    width: 48px;
    height: 48px;
    background-image: url(../img/gif/idle.gif);
    background-size: cover;
    
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

/* rwd */

@media screen and (max-width: 1200px){
    .wrapper{
        width: auto;
    }
}

@media screen and (max-width: 1058px){
    .banner h2{
        font-size: 2rem;
        top: 30px;
    }

    .banner h1{
        top: 40px;
    }

    .banner{
        height: 430px;
        background-size: contain;
    }

    .banner h2+h1+img{
        left: 490px;
    }

    .banner h2+h1+img{
        top: 166px;
        width: 300px;
        left: 550px;
    }

    .orange{
        right: 310px;
        bottom: 150px;
    }

    .yellow{
        right: 480px;
        bottom: 100px;
    }

    .banner p+p+img{
        top: 200px;
        left: 450px;
        width: 120px;
    }

    .banner p+img+img{
        width: 200px;
        top: 210px;
    }

    .god1{
        left: 390px;
    }

    .news{
        margin: 0 auto;
    }

    .news .news-third{
        display: none;
    }

}

    @media screen and (max-width: 890px){
    
    .news-section h1, .osusume-section h1{
        font-size: 4rem;
    }

    nav{
        position: relative;
    }

    .ham{
        width: 24px;
        height: 26px;
        line-height: 80px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    nav ul{
        display: none;
    }

   .ham.active + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: -160px;
        z-index: 100;
        margin-top: 53px;

        background-color: white;
        min-width: 210px;
        min-height: calc(100vh - 81px);
    }

    nav li{
        border-bottom: 1px dashed black;
        margin: 10px 0;
    }

    nav a::before{
        display: none;
    }

    .submenu{
        min-width: 210px;
        
    }

    .submenu a{
        margin-left: 20px;
        width: auto;
        text-align: left;
        
        
    }

    .orange{
        right : 140px;
        bottom: 120px;
    }

    .yellow{
        right: 150px;
        bottom: 110px;
    }

    .news{
        flex-direction: column;
        align-items: center;

        width: auto;
    }

    .news article{
        display: block;

        border: 0px;
    }
        
    .news .news-item{
        margin-top: 20px;
    }

    .news div:nth-of-type(2) img {
        width: 289px;
        object-fit: contain;
    }

    .news .news-item{
        width: auto;
    }

    .news-item img{
        width: 289px;
        height: 376px;
        object-fit: contain;
    }

    .artical .popup .lyco, .artical .popup .tran, .artical .popup .sui{
        width: 302px;
    }

    .video-wrapper{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        
        margin-top: 20px;
    }

    .video {
        width: 80%;
        height: 80%;

        margin-left: 20px;
    }


    .osusume article{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 300px;
        margin: 0 20px;
    }

    .osusume a{
        display: none;
    }

    .osusume .part2{
        display: none;
    }

}

@media screen and (max-width: 795px){
    .banner h2{
        font-size: 2rem;
        top: 30px;
    }

    .banner h1{
        font-size: 4rem;
        top: 40px;
    }

    .banner{
        height: 330px;
        background-size: contain;
    }

    .banner h2+h1+img{
        top: 109px;
        width: 250px;
        left: 430px;

    }

    .orange{
        bottom: 120px;
        right: 200px;
    }

    .yellow{
        right: 250px;
        bottom: 100px;
    }

    .banner p+p+img{
        top: 190px;
        left: 390px;
        width: 70px;
    }

    .banner p+img+img{
        width: 150px;
        top: 180px;
    }

    .god1{
        left: 190px;
        bottom: 150px;
    }

    .news{
        margin: 0 auto;
    }
}

@media screen and (max-width: 636px){
    .banner h2{
        font-size: 2rem;
        top: 30px;
    }

    .banner h1{
        font-size: 4rem;
        top: 40px;
    }

    .banner{
        height: 330px;
        background-size: contain;
    }

    .banner h2+h1+img{
        top: 109px;
        width: 250px;
        left: 310px;

    }

    .orange{
        display: none;
    }

    .yellow{
        display: none;
    }

    .banner p+p+img{
        display: none;
    }

    .banner p+img+img{
        display: none;
    }

    .god1{
        left: 190px;
        bottom: 150px;

        animation-delay: 3s;
    }

    .news-section{
        margin: 27px;
    }

    .news-section h1, .osusume-section h1{
        line-height: 1;
        margin: 0 0 20px 0;
    }

    .osusume-section{
        margin: 30px 0;
    }

    .news{
        margin: 0 auto;
    }
}

@media screen and (max-width: 618px){

    .news-item img{
        display: none;
    }

    .news article{
        height: 360px;
        border: 1px solid black;
    }

    .osusume article{
        grid-template-rows: 300px;
    }

    .video-wrapper{
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        margin-top: 20px;
    }

    .video{
        width: 100%;
        height: 100%;
    }

    .osusume img{
        display: none;
    }
}

@media screen and (max-width: 430px){

    .banner{
        height: 200px;
    }

    .banner h2{
        font-size: 1.5rem;
        left: 50px;
    }

    .banner h1{
        font-size: 2.5rem;
        top: 50px;
        left: 140px;
    }

    .banner h2+h1+img{
        top: -21px;
        left: 130px;
    }

    .god1{
        display: none;
    }

    .news-section h1, .osusume-section h1{
        font-size: 2.5rem;
    }

    

    .osusume img{
        display: none;
    }

    .osusume article{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;

    }

    .osusume .part1{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .video-wrapper{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    .video{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .video iframe{
        margin: 0 30px;
    }
}

@media screen and (max-width: 390px){
    footer p, .footer-font a{
        font-size: 14px;
    }
}


/* --------------第二頁的內容-------------- */

.banner-p2{
    background-color: #fff;
    border-bottom: 1px solid black;
    height: 600px;
    position: relative;

    overflow: hidden;
}

.banner-p2 .first-sent{
    position: absolute;

    top: 270px;
    left: 80px;


    animation-name:map;
    animation-duration: 2s;
    animation-fill-mode: none;
    /* animation-timing-function: linear; */
}

@keyframes map{
    0%{
        top: -70px;
        left: 80px;
    }

    10%{
        top: 270px;
        left: 80px;
    }

    50%{
        top: 230px;
        left: 80px;
    }

    /* 70%{
        top: 270px;
        left: 80px;
    }

    90%{
        top: 250px;
        left: 80px;
    } */

    100%{
        top: 270px;
        left: 80px;
    }
}

.banner-p2 .second-sent{
    position: absolute;

    top: 320px;
    left: 90px;

    font-weight: normal;
    
    animation-name:slogan;
    animation-duration: 5s;
    animation-fill-mode: none;
}

@keyframes slogan{
    0%{
        transform:rotate(0);
    }

    10%{
        transform:rotate(-20deg);
    }

    11%{
        transform:rotate(-10deg);
    }

    100%{
        transform:rotate(0);
    }
}

.banner-p2 .girl-top{
    position: absolute;

    width: 100px;

    top: -130px;
    left: -670px;
    transform: rotate(90deg);

    offset-path: path("m1248-137l15 489c0 0 75-105.8 144-106 69-0.2 139.5 66.2 156 93 16.5 26.8 56 495 56 495");

    animation-name:girl-ani;
    animation-duration: 2s;
    animation-fill-mode: none;
    
}

@keyframes girl-ani{
    0%{
        offset-distance: 0%;
        /* top: -230px;
        left: 520px;
        transform: rotate(0); */
    }

    100%{
        offset-distance: 100%;
        
    }
}

.banner-p2 .girl-bottom{
    position: absolute;
    width: 350px;

    top: 600px;
    right: 60px;

    animation-name: girl-bottomtotop;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    
}

@keyframes girl-bottomtotop{
    0%{
        top: 600px;
        right: 60px;
    }

    100%{
        top: 50px;
        right: 60px;
    }
}

/* 服務宗旨 */

.purpose{
    margin-bottom: 70px;
}

.purpose h1{
    text-align: center;
    line-height: 108px;
    color: transparent;
    font-weight: 600;
    margin: 48px 0;

    background-image: url(../img/1.homepage/textbg.png);
    background-size: cover;
    background-position: center;

    background-clip: text;
}

.purpose article{
    display: grid;
    width: 906px;
    
    
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "purpose-1 purpose-2"
                        "purpose-3 purpose-4";
    gap: 20px;
}

.purpose div{
    border-radius: 20px;
    border: 1px solid #2A2A2A;
    padding: 12px 36px;
    color: #fff;


    background-image: url(../img/2.aboutus/02.card_bg.png);
    
}

.purpose-1{
    background-position: 90px 30px;
    
}

.purpose-2{
    background-position: 700px 400px;
}

.purpose-3{
    background-position: 200px 300px;
}

.purpose-4{}

.purpose h5{
    text-align: center;
    margin-bottom: 8px;
    font-weight: 600;
}

.purpose p{}

/* 服務宗旨結束 */

/* 聯絡我們 */

.contact h1{
    text-align: center;
    line-height: 108px;
    color: transparent;
    font-weight: 600;
    margin: 48px 0;

    background-image: url(../img/1.homepage/rabbit.png);
    background-size: cover;
    background-position: center;

    background-clip: text;
}

.contact-in{
    display: flex;
    flex-direction: row-reverse;
    width: 60%;
    /* border: 1px solid blue; */
    margin: 0 auto;
    margin-bottom: 28px;
}

    /* 左邊 */
.infomation{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 50%;
    gap: 12px;
}

.infomation div{
    display: flex;
    flex-direction: column;
    width: calc(50% - 6px);
    height: 205px;
    text-align: center;
    margin: auto 0;
    outline: 1px solid rgb(0, 0, 0);

    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    
}

.infomation svg{
    align-items: center;
    margin: 8px;
}

.infomation p{
    word-break: break-all;
}


    /* 右邊 */
.ques{
    display: flex;
    max-width: 50%;
    margin-right: 20px;
    width: 100%;

    /* border: 1px solid red; */
}

.ques form{
    width: 100%;
    margin-left: 20px;
    
}

.ques div{
    display: flex;
    margin-bottom: 12px;

}

.ques label{
    flex-grow: 1;
}

.ques input{
    border-radius: 20px;
    flex-grow: 10;
    box-sizing: border-box;
    padding-left: 8px;
}

.ques textarea{
    width: 200px;
    height: 200px;
    resize: none;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 20px;
    padding-top: 20px;

}

.ques .submit{
    display: block;
    padding: 4px 28px;
    margin: 48px auto 0;
    
}

@media screen and (max-width: 800px){
    .banner-p2{
        height: 450px;
    }

    .banner-p2 .girl-bottom{
        display: none
    }

    .purpose article{
        width: 600px;
    }

    .purpose h1, .contact h1{
        font-size: 4rem;
    }
}

@media screen and (max-width: 430px){
    .banner-p2{
        /* display: none; */
        height: 200px;
    }

    .banner-p2 .first-sent{
        top: 20px;
        left: 140px;

        font-size: 1.5rem;

        animation: none;
    }

    .banner-p2 .second-sent{
        top: 60px;
        left: 90px;
        font-size: 1rem;

        animation: none;
    }

    .banner-p2 .girl-top{
        display: none;
    }

    .banner-p2 .girl-bottom{
        display: block;
        right: 100px;
        animation-delay: 0s;
    }

    @keyframes girl-bottomtotop{
    0%{
        top: 300px;
        right: 40px;
    }

    100%{
        top: 60px;
        right: 40px;
    }
}

    .purpose h1{
        line-height: 1;
        font-size: 2.5rem;
    }

    footer p, .footer-font a{
    font-size: 14px;
}

.purpose article{
    grid-template-columns: 1fr;
    margin: 0 auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:"purpose-1"
                        "purpose-2"
                        "purpose-3"
                        "purpose-4";

    width: calc(100% - 40px);
    margin: 0 20px;

}

.contact-in{
    flex-direction: column-reverse;
}

.infomation, .ques {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.infomation{
    margin-top: 20px;
}

.infomation div {
    width: 100%;
}

.ques form {
    margin-left: 0;
}

.ques textarea{
        width: 222px;
}

    
}

@media screen and (max-width: 390px){

    .banner-p2 .first-sent{
        left: 130px;
    }

    .banner-p2 .second-sent{
        left: 80px;
    }

    .ques textarea{
        width: 200px;
    }

    @keyframes girl-bottomtotop{
    0%{
        top: 300px;
        right: 10px;
    }

    100%{
        top: 60px;
        right: 10px;
    }
}

}



/* --------------第三頁的內容(最新消息)-------------- */

.page3-new{
    width: 916px;
    margin: 0 auto;
}


.beginning{
    display: inline-block;
    width: 100%;
    height: 76px;
    vertical-align: middle;

    margin: 24px 0 32px;
}

.beginning h3::after{
    content: '';
    display: inline-block;
    width: calc(100% - 168px);
    height: 1px;
    border: 1px solid #000;
    margin: 8px;

    line-height: 76px;
    vertical-align: middle;
}

.beginning .see-more{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.see-more a{
    text-decoration: none;
    color: #2A2A2A;
}

.end{
    display: flex;

    margin-bottom: 40px;
}

.mes-left {
    width: 300px;
    height: 300px;
    /* background-image: url(../img/3.news/01.png); */
    border-radius: 20px;
    text-decoration: none;

    color: #fff;
    position: relative;
    
    margin-right: 60px;

}

.mes-left::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    filter: brightness(70%);
    background-image: url(../img/3.news/01.png);
    border-radius: 20px;

    /* text-shadow: 3px 3px 5px #000; */
    
    z-index: 0;
}

.mes-left h5{
    font-weight: 600;
    text-align: center;

    margin: 180px 36px 0;

    position: relative;
    z-index: 1;
}

.mes-left p{
    text-align: center;
    margin: 0 36px;

    position: relative;
    z-index: 1;
}

.mes-right{
    display: flex;

    flex-shrink: 0;
    width: 560px;

    flex-wrap: wrap;
    align-items: center;
}

.mes-right .some-news{
    text-decoration: none;
    color: #2A2A2A;


    display: flex;
    width: 260px;
    height: 120px;
    flex-shrink: 0;
    
    box-sizing: border-box;
    padding: 20px 8px;
}

.mes-right img{
    width: 80px;
    height: 80px;
    margin-right: 16px;

    border-radius: 20px;
}

.mes-right h5 P{}


.new-news-center::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    filter: brightness(70%);
    background-image: url(../img/3.news/06..png);
    border-radius: 20px;
    
    z-index: 0;
}

.new-news-bottom::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    filter: brightness(70%);
    background-image: url(../img/3.news/12.png);
    border-radius: 20px;
    
    z-index: 0;
}

@media screen and (max-width: 800px){

    .beginning{
        width: 100%;
    }

    .see-more{
        width: 95%;
    }

    .beginning h3::after{
        width: 75%;
    }

    .page3-new{
        margin: 0 20px;
        width: calc(100% - 40px);
    }

    .mes-right a:nth-child(2), .mes-right a:nth-child(4){
        display: none;
    }

    .mes-right{
        flex-direction: column;

        flex: 0px;
        justify-content: center;
    }

    .mes-left{
        display: block;
        width: 300px;
        height: 300px;

        flex: -1px;
        margin: 0 auto
    }

    .end{
        margin: 0 40px 40px;
    }

    
}

@media screen and (max-width: 430px){
    .see-more{
        width: 95%;
    }

    .beginning h3::after{
        width: 55%;
    }

    .end{
        flex-direction: column;
        margin: 0 auto;
    }

    .mes-right{
        width: 100%;
        margin-top: 12px;
    }
}

@media screen and (max-width: 390px){
    .see-more{
            width: 95%;
        }

        .beginning h3::after{
            width: 50%;
        }

}


/* --------------第三頁的內容(最新消息)結束-------------- */


/* --------------第四頁的內容(推薦景點)-------------- */


/* 東方 */

.osusue-wrapper{
    overflow: hidden;

    width: 1200px;
    height: 800px;
}

.obutton-wrapper{
    position: relative;
}

#osusume-button{
    width: 50px;
    height: 50px;

    position: absolute;
    top: -450px;
    right: 30px;
}

#osusume-button li{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 10px;

}

#osusume-button li.clicked{
    background-color: #666;
}

.osusume-button{

}

.Touhou-Project, .conan, .suisei, .Lycoris-Recoil{
    display: flex;
    height: 800px;
    justify-content: space-between;

    
}

.osusume-left{
    margin: 68px 0 0 54px;
    width: 720px;
}

.osusume-left h1{
    margin-bottom: 24px;
}

.osusume-left h4{
    margin-bottom: 52px;
}

.tourist-spot{
    display: flex;
    width: 476px;
    justify-content: space-between;

    
}

.tourist-spot-first img, .tourist-spot-second img{
    border-radius: 20px;
}

.tourist-spot-first a, .tourist-spot-second a{
    text-decoration: none;
    color: #000000;
    text-align: center;
}

.tourist-spot .tourist-spot-first{}

.osusume-right{
    /* overflow: hidden; */

    position: relative;
}

.osusume-right img{
    display: block;
    position: absolute;
    clip-path: polygon(100% 0, 60% 0, 4% 100%, 100% 100%);
    right: 0px;
    width: 600px;
    height: 800px;
    object-fit: cover; 
    z-index: 1;

}

.osusume-left > a{
    text-decoration: none;
    color: #ffffff;
    border: 1px solid black;
    background-color: #2A2A2A;
    padding: 8px 16px;
    text-align: center;

    display: inline-block;

    margin-top: 68px;
    
}

.dot{
    margin: 400px 28px;
}

.conan, .suisei, .Lycoris-Recoil{
    /* display: none; */
}

@media screen and (max-width: 1144px) {

    .osusume-right img{
        display: none;
    }

    .osusue-wrapper{

    width: auto;
    height: auto;
}

    .obutton-wrapper{
        display: none;
    }

    #osusume-button{
        display: none;
    }

}


@media screen and (max-width: 800px) {

    .osusume-left {
        width: 90%;
        margin: 40px auto 0;
    }

    .Touhou-Project, .conan, .suisei, .Lycoris-Recoil{
        height: auto;
    }

    .osusume-left{
        margin: 40px auto 40px;
    }
}

@media screen and (max-width: 568px) {

    .osusume-left h1{
        font-size: 4rem;

        margin-top: 20px;
    }

    .tourist-spot {
        flex-direction: column;
        align-items: center;
    }

    .osusume-left {
        text-align: center;

        height: auto;
    }

    .osusume-left h1, .osusume-left h4 {
        margin-bottom: 20px;
    }

    .osusume-left > a {
        margin-top: 40px;


    }
}

@media screen and (max-width: 480px) {

  .osusume-left h4 {
    font-size: 1.5rem;
  }

  .osusume-left > a {
    font-size: 0.9rem;
    padding: 6px 12px;
  }

  .footer-font p,
  .footer-font a {
    font-size: 0.8rem;
  }

  .tourist-spot{
    width: 100%;
    margin: 0 auto;
  }
}


/* --------------第四頁的內容(推薦景點)結束-------------- */

/* --------------第五頁的內容(說個幾句)-------------- */

.chat{
    width: 100%;
    display: flex;
    justify-content: space-around;

    background-image: url(../img/5.chat/bg.png);

    height: calc(880px - 81px - 74px);
    overflow: hidden;
}

.chatbox{
    width: 346px;
    height: auto;
    margin: 24px  0;

    background-color: #fff;
    border-radius: 10px;
}

.chat p{
    max-height: 32px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    transition: 0.5s ease;
}

.chat-left{
    overflow: auto;
}

.chat-left::-webkit-scrollbar{
    display: none;
}

.chat-left article:hover>p{
    max-height: 300px;
    white-space: normal;
} 

.chat a{
    text-decoration: none;
    color: #2A2A2A;
}

.chat-left article:nth-last-child(1){
    /* display: none; */
}

.chat-right{
    position: relative;
    display: flex;
    flex-direction: column;
    
    
    overflow: hidden;
}


.chat-right #con{
    margin-top: 24px;
    height: calc(100% - 48px - 30px);
    width: 346px;
    border: none;
    outline: none;

    border-radius: 5px 5px 0 0;

    box-sizing: border-box;
    resize: none;
    padding-top: 20px;
    padding: 20px;
    font-size: 24px;
}

#limit{
    background-color: #fff;
    width: 100%;
    height: 30%;
    text-align: right;
    line-height: 200%;
    padding: 0 8px;
}


.chat article:nth-child(4n+1) { 
    margin-left: 0;
}

.chat article:nth-child(4n+2) { 
    margin-left: 128px;
}

.chat article:nth-child(4n+3) { 
    margin-left: 32px; 
}

.chat article:nth-child(4n+4) { 
    margin-left: 64px;
}


.btn-svg{
    display: flex;
    width: 346px;
    height: 36px;
    background-color: #bdbdbd;

    justify-content: flex-end;
    align-items: center;    
}

.btn-svg svg{
    margin: 0 8px;
    text-align: center;
    
}

.sub{
    padding: 8px 10px;
    border-radius: 10px;
    margin: 12px 0 24px;

    height: 36px;
}

@media screen and (max-width: 800px) {
.chat{
    flex-direction: column-reverse;
}

.chat-right{
    height: 1000px;
    padding: 20px;
}

.chat-right #con{
    width: auto;
    /* min-height: 500px; */
}

.btn-svg{
    width: 100%;
    height: 80px;
}

.btn-svg svg{
    width: 60px;
    margin: 0 4px;
}


.sub{
    height: 60px;
    margin: 24px 0 0;
}

.chat-left{
    margin: 0 auto;
    width: 100%;

    display: flex;
    height: 100%;

    overflow: auto;
    
}

.chat article { 
    margin: 0 24px;
}

.chat article:nth-child(4n+1), .chat article:nth-child(4n+2), .chat article:nth-child(4n+3), .chat article:nth-child(4n+4){ 
    margin-left: 0;
    margin-bottom: 20px;
}

.chat article:nth-child(4n+1){
    margin-left: 20px;
}

.chat p{
    overflow: visible;
    white-space: wrap;
}

}

/* --------------第五頁的內容(說個幾句)結束-------------- */

/* --------------第六頁的內容(成就系統)-------------- */

.up{
    display: flex;
    margin: 80px 86px;
    justify-content: space-around;

}

.up .gear{
    display: flex;
    flex-wrap: wrap;
    

    width: 600px;
    

}

.up .opt{
    width: 30%;
    margin: 0 8px 8px;

    background-color: #dfdfdf;
    border-radius: 10px;
}

.up .opt p{
    text-align: center;
    padding: 0 12px;
    margin: 4px 0;
}

.up .opt p:first-child{
    height: 3ch;
}

.up .opt p:nth-child(3){
    font-weight: 600;
}


.up .opt img{
    display: block;
    text-align: center;
    margin: 0 12px;
}

.up .doll{
    position: relative;
    
    border:1px solid #000;
    background-image: url(../img/6.Achieve/grass..png);
    width: 353px;
    height: 460px;
    background-size: cover;

}

.doll img:nth-child(1){
    position: absolute;
    top: 60px;
    left: 110px;
}



.doll img:nth-child(1n+2){
    position: absolute;
}

.doll #hel{
    top: 30px;
    left: 140px;

    opacity: 0;
}


.doll #gla{
    top: 60px;
    left: 143px;

    opacity: 0;
}

.doll #nose{
    top: 86px;
    left: 167px;

    opacity: 0;
}

.doll #lolli{
    top: 160px;
    left: 177px;

    opacity: 0;
}

.doll #hors{
    top: 238px;
    left: -3px;

    opacity: 0;
}

.doll #trun{
    top: 242px;
    left: 207px;

    opacity: 0;
}

.chieve {
    background-image: url(../img/6.Achieve/bg.png);
    background-position: bottom center;
    background-size: cover;
    color: white;
    
    padding: 80px 86px 20px;

}

.chieve div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.kind a{
    text-decoration: none;
    margin: 16px;
    color: white;
}

.badgebox{
    margin: 36px 0 24px 0;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(5, 124px);
    gap: 16px;
}

.badgebox .badge{
    background-color: #fff;
    width: 100%;
    border-radius: 100%;
}

@media screen and (max-width: 800px) {
.up{
    flex-direction: column-reverse;
}

.up .doll{
    width: auto;
    background-size: contain;
    margin-bottom: 20px;
}

.doll img:nth-child(1){
    left: 260px;
}

.doll img:nth-child(2){
    left: 288px;
}

.doll img:nth-child(3){
    left: 293px;
}

.doll img:nth-child(4){
    left: 371px;
}

.doll img:nth-child(5){
    left: 372px;
}

.up .gear{
    width: 100%;

    justify-content: center;
}

.badgebox{
    grid-template-columns: repeat(4, 20%);
}

.badgebox .badge{
    display: flex;
}


}

@media screen and (max-width: 430px) {
.up{
    flex-direction: column-reverse;
}

.up .doll{
    width: auto;
    background-size: cover;
    margin-bottom: 20px;
}

.doll img:nth-child(1){
    left: 60px;
}

.doll img:nth-child(2){
    left: 89px;
}

.doll img:nth-child(3){
    left: 93px;
}

.doll img:nth-child(4){
    left: 118px;
}

.doll img:nth-child(5){
    left: 126px;
}

.up .gear{
    width: 100%;

    justify-content: space-between;
}

.up .opt{
    width: calc(50% - 8px);

    margin:0;
    margin: 4px 4px;
}

.up .opt img{
    width: calc(100% - 24px);
}

.up .opt p:nth-child(3){
    font-size: 12px;
}

.up .opt p{
    font-size: 12px;
}

.chieve{
    padding: 20px
}

.badgebox{
    grid-template-columns: repeat(3, 1fr);

}

.chieve div:nth-child(1){
    display: block;
}

.kind{
    margin-top: 12px;
}

.kind a{
    margin: 6px;

}

.badgebox{
    width: 100%;

}

.badgebox .badge{
    width: 100px;
    height: 100px;
    margin: 0 4px;
}

.badge img{
    width: 100px;
    height: 100px;
}


}

/* --------------第六頁的內容(成就系統)結束-------------- */

/* --------------第七頁的內容(餵個企鵝)-------------- */

.feed h6{
    font-size: 20px;
}

.feed h5{
    font-weight: 500;
}

.feed{
    margin: 55px 55px;
}

.planarea{}

.planarea h2{
    margin-bottom: 24px;
}

.planarea div{
    display: flex;
    justify-content: space-between;

}

.planarea article{
    text-align: center;
    padding: 14px;
}

.planarea img{
    border-radius: 20px;
}

.donate-inf{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.donate-inf .donate-inf-le{
    flex-basis: 412px;
}

.donate-inf-le .inf{
    border: 1px solid black;
    padding: 28px 28px 124px;
}

.donate-inf-le .result-plan{
    display: flex;
}

.donate-inf-le .dollar{
    display: flex;
}

.result-plan h5, .dollar h5{
    color: #001494;
}

.count{
    margin-top: 36px;
}

.plan-dollar, .contri, .final{
    display: flex;
    justify-content: space-between;
}


.contri{
    margin: 4px 0 24px;
    border-bottom: 1px solid black;
}


/* 右邊 */
.donate-inf-ri{
    display: flex;
    flex-direction: column;
    width: 636px;
}

.donate-inf-ri h5+div{
    margin: 8px 0;
    background-color: #dfdfdf;
    padding: 8px 8px;
}

.donate-inf-ri h5+div+div{
    margin-bottom: 12px;
    background-color: #dfdfdf;
    padding: 8px 8px;
}

.donate-inf-ri label+input{
    margin-bottom: 12px;
    width: 100%;
}

.donate-inf-ri label{
    font-size: 24px;
}

.donate-inf-ri input{
    font-size: 24px;
}

.donate-inf-ri .cityarea{
    display: flex;
}

.cityarea .city{
    /* flex: 3; */
    width: 50%;
    padding-right: 24px;
}


.cityarea .township{
    /* flex: 1; */
    width: 50%;
}

.donate-inf-ri .cityarea div:nth-child(2){
    margin-left: 8px;
}


.donate-inf-ri .cityarea div{
    justify-content: space-between;
}

.donate-inf-ri .adressarea{
    display: flex;
    
    
}

.adressarea .road{
    /* flex: 3; */
    box-sizing: border-box;
    width: 75%;
    padding-right: 24px;
}

.adressarea .zip{
    /* flex: 1; */
    box-sizing: border-box;
    width: 25%;
}

.agree{
    display: flex;
}

.agree label{
    tab-size: 16px;
}

.submi{
    width: 280px;
    background-color: rgb(211, 0, 0);
    color: white;
    border: none;
    font-weight: 600;
    margin: 12px 0;
    padding: 12px 0;
}

@media screen and (max-width: 800px) {
    .feed {
        margin: 24px;
    }

    .planarea{
        margin: 0 12px;

    }

    .planarea div {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        
        margin-bottom: 12px;
    }

    .donate-inf {
        flex-direction: column;
    }

    .donate-inf-ri {
        margin: 36px auto 36px;
    }

    .donate-inf{
        margin: 0 auto;
        margin: 24px 48px 0;
    }

    .donate-inf-ri label {
        font-size: 20px;
    }

    .donate-inf-ri input {
        font-size: 20px;
    }

    .submi {
        width: 100%;
    }
}

@media screen and (max-width: 430px) {
    .feed {
        margin: 4px;
    }

    .planarea h2{
        margin-top: 24px;
        margin-bottom: 12px;

        font-size: 1.5rem;
    }

    .feed h6{
        font-size: 1rem;
    }

    .feed h5{
        font-size: 1rem;
    }

    .donate-inf-ri label{
        font-size: 1rem;
    }

    .planarea div {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr ;
        
        margin: 0 auto 12px;
    }

    .donate-inf{

}

.donate-inf-ri{
    width: 100%;
}

}

@media screen and (max-width: 430px) {
    .feed {
        margin: 4px;
    }


    .planarea div {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 180px 180px ;
        
        margin: 0 auto 12px;
    }

    .donate-inf{
        margin: 24px 12px 0;
    }

    .donate-inf-le .inf{
        width: 100%;
        margin: 0 auto 0;
    }

    .planarea article{
        width: 180px;
    }

    .planarea img{
        width: 100%;
    }

}

/* --------------第七頁的內容(餵個企鵝)結束-------------- */

/* --------------第八頁的內容(巡禮熱點文章)-------------- */

.hot{
    display: flex;
    margin: 64px 46px;
}

.art-le{
    margin-right: 36px;
}

.art-le h3{
    position: relative;
}

.art-le h3::after{
    content: "";
    border-top:1px solid black ;
    width: 620px;
    height: 1px;

    position: absolute;
    top: 20px;
    left: 160px;
}

.search{
    border: 2px solid rgb(42, 42, 42);
    margin: 32px 0;
    border-radius: 20px;
    padding: 32px 52px;

    display: flex;
    justify-content: space-around;
}

.date .date-data{
    width: 178px;
    height: 24px;
    margin-bottom: 16px;
}

.tilde{
    display: inline-block;
}

.key-word{
    height: 24px;
}

.btnc{
    display: flex;
    flex-direction: column;
    width: 136px;

    margin: 0 36px;
    
}

.btnc button{
    padding: 8px 40px;

    border: 1px solid black;
    background-color: #fff;
    border-radius: 10px;
}

.btnc button:nth-child(1){
    margin-bottom: 4px;
}

.art a{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #2A2A2A;
    margin-bottom: 44px;
    padding-bottom: 44px;

    text-decoration: none;
    color: #000;

}

.art img{
    border-radius: 10px;
}


.art a>div{
    margin-left: 40px;
    /* padding-bottom: 22px; */
}


.art div h5{
    font-weight: 600;
    color: #001494;
}

.art p{
    margin: 12px 0;
}

.tag{
    margin: 4px 12px 4px 0;
    background-color: #e4e4e4;
    border-radius: 10px;
    padding: 4px 8px;
    color: #6b7df3;
} 

.page{
    display: flex;
    justify-content: center;
}

.page a{
    margin: 0 4px;
    text-decoration: none;
    color: #2A2A2A;
}

.page a:nth-child(1), .page a:nth-child(9){
    margin: 0 24px;
}

article .atop{
    text-decoration: none;
    color: #2A2A2A;
}

article .top{
    display: flex;
    margin: 8px 0;
    align-items: center;
}

article .top img{
    border-radius: 32px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.pborder{
    outline: 1px solid black;
}

.no_value{
    display: none;
    width: 781px;
    margin-bottom: 24px;
    font-size: 24px;
    color: red;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .hot{
    flex-direction: column-reverse;
    }

    .art-ri{
        display: flex;
        flex-direction: row;
    }

    .ad{
        display: flex;
        
    }

    .ad img{
        height: 360px;
    }

    .ad img:nth-of-type(1){
        margin: 0 12px;
    }

    .art-le h3::after{
        width: 80%;
    }

    .search{
        flex-direction: column;
    }

    .btnc{
        flex-direction: row;
        margin-left: 350px;
        width: 100%;
    }

    .btnc button{
        padding: 8px 12px;
        margin: 0 12px;
        width: 100px;  
    }

    .btnc button:nth-child(1){
        margin-bottom: 0;
    }

    .no_value{
        width: auto;
    }

}

@media screen and (max-width: 430px) {
    .hot{
        margin: 12px 24px;
    }

    .art-ri{
        display: flex;
        flex-direction: column;

        margin-bottom: 24px;
    }

    .ad{
        margin: 0 auto;
    }

    .ad img{
        height: 300px;
    }

    .art-le h3{
        font-size: 2rem;
    }

    .art-le h3::after{
        width: 55%;
    }

    .art-le{
        margin-right: 0;
    }

    .btnc{
        margin: 8px 0 0 130px;
        width: auto;
    }

    .date input:nth-of-type(2){
        margin-left: 67px;
    }

    .key-word{
        margin-left: 15px;
    }

    .btnc button:nth-child(2){
        display: none;
    }

    .art a{
        flex-direction: column;
        margin-bottom: 24px;
        padding-bottom: 24px;
    }

    .art a>div{
        margin: 12px 24px 0;
    }

    .hashtag{
        white-space: nowrap;
    }
}

@media screen and (max-width: 390px) {

    .ad img{
        height: 250px;
    }

    .date input:nth-of-type(2){
        margin-left: 0;
    }

    .date .date-data{
        margin-left: 51px;
    }

    .tilde{
        margin-left: 39px;
    }

    .key-word{
        margin-left: 0;
    }

    .btnc button:nth-child(2){
        display: none;
    }

    .art a{
        flex-direction: column;
        margin-bottom: 24px;
        padding-bottom: 24px;
    }

    .art a>div{
        margin: 12px 24px 0;
    }

    .hashtag{
        white-space: nowrap;
    }

}